body {
    background: #164863;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #427D9D, #9BBEC8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .bg-blanco{
    background-color: #ffffff;
  }


